.flex{
  display: flex;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}
.jc-space-between{
  justify-content: space-between;
}
.candidateViewContainer{
  align-items: center;
  padding: 15px;
}

.socialMediaContainer{
  margin-top: 20px;
  width: 150px
}

.socialMediaIcon img{
  max-height: 30px;
}

.socialMediaIcon{
  cursor: pointer;
}
.candidateReturnButton{
  margin-top: 20px;
  width: 150px;
}